BasedOnStyle: Microsoft


AlignArrayOfStructures : Left
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
PointerAlignment: Left
